<section>
  <h1>Miker On Other Sites</h1>
  <ul>
      <li><a href="http://twitter.com/miker">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/miker">LinkedIn</a></li>
      <li><a href="http://stackoverflow.com/users/506507/mikerowehl">Stackoverflow</a></li>
      <li><a href="http://github.com/mikerowehl">Github</a></li>
      <li><a href="http://angel.co/mike-rowehl">AngelList</a></li>
      <li><a href="http://thisismobility.com/blog/">This is Mobility</a></li>
      <li><a href="http://delicious.com/miker">Delicious</a></li>
      <li><a href="http://www.crunchbase.com/person/mike-rowehl">Crunchbase</a></li>
  </ul>
</section>
